#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: 32px;
}

b {
  font-size: 32px;
  font-weight: 400;
}

 p {
  font-size: 16px;
  line-height: 28px;
  color: #B2B3BC;
  text-align: center;
 }
